
#opponent_mount {
  position: relative;
  border: 3px double #97881b;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 60%;
  background: #ada996;
  background: -webkit-linear-gradient(to right, #ada996, #f2f2f2, #dbdbdb, #eaeaea);
  background: linear-gradient(to right, #ada996, #f2f2f2, #dbdbdb, #eaeaea);
  -webkit-box-shadow: 10px 10px 5px #494343;
}

#opponent_mount:hover{
  cursor:pointer;
}

#opponent_mount>div {
  margin: 5px;
  box-sizing: border-box;
}

.opponent-side {
  position: relative;
  height: 125px;
  width: 33%;
}

.card_spacing{
  width:100%;
  display: flex;
  justify-content: space-around;
}

.opponent_card {
  background-image: url("../../style/img/cardback_placeholder.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80px;
  width: 50px;
  border: 1px solid #92841d;
  float: left;
  color:white;
}

#hand_title{
  /*position: absolute;
bottom: 5%;
right: 10%;*/
}

#opponent_round_tokens {
  float: left;
  width: 50%;
  border-style: inset;
  border-width: 3px;
  margin: 0 auto !important;
}

#opponent_score {
  margin: 0 auto;
}

#opponent_hand{
  padding:5px;
}

#moveIndicator{
  position: absolute;
  bottom: 0;
  right: 50%;
  margin-bottom: 10px;
}

.activePlayer{
  -webkit-animation-name: indicateTurn;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
}

.activePlayerLabel{
  -webkit-animation-name: flashname;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
}

.selectedOpponent,  .card-magnify:hover{
  -webkit-animation-name: indicateOpponent;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
}


@-webkit-keyframes indicateTurn {
  from { box-shadow: #749a02; -webkit-box-shadow: 5px 15px 19px #333; }
  50% { box-shadow: #91bd09; -webkit-box-shadow: 5px 15px 28px #fade7c; }
  to { box-shadow: #749a02; -webkit-box-shadow: 5px 15px 19px #333; }
}

@-webkit-keyframes flashname {
  from { color: #fade7c; -webkit-color: 0 0 19px black; }
  50% { color: black; -webkit-color: 0 0 28px #fade7c; }
  to { color: #fade7c; -webkit-color: 0 0 19px black; }
}

@-webkit-keyframes indicateOpponent {
  from { box-shadow: #749a02; -webkit-box-shadow: 5px 15px 19px #333; }
  50% { box-shadow: #91bd09; -webkit-box-shadow: 5px 15px 28px rgb(255,64,129); }
  to { box-shadow: #749a02; -webkit-box-shadow: 5px 15px 19px #333; }
}
