#opponent_mount {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 120px;
}

#opponent_mount>div {
  flex: 1 0 50px;
  margin: 5px;
  box-sizing: border-box;
  border: 1px inset;
}

.opponent-side {
  height: 125px;
  width: 33%;
  float: left;
  background-color: #72dae7;
  -webkit-box-shadow: 10px 10px 5px #b8b6b6;
}

#hand_title {

}

.card_spacing{
  width:100%;
  display: flex;
  justify-content: space-around;
}

.opponent_card {
  background-image: url("../../style/img/cardback_placeholder.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80px;
  width: 50px;
  border: 1px solid;
  float: left;
  color:white;
}

#opponent_round_tokens {
  float: left;
  padding: 5px;
  width: 50%;
  border-style: inset;
  border-width: 3px;
  margin-left: 35px;
  margin-top: 10px;
}

#opponent_score {
  float: left;
  margin: 0 auto;
}
