#opponent_mount {
  border: 3px double #97881b;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 120px;
}

#opponent_mount>div {
  /*flex: 1 0 50px;*/
  margin: 5px;
  box-sizing: border-box;
  /*border: 1px inset;*/
}

.opponent-side {
  margin-left: 25px;
  height: 125px;
  width: 33%;
  float: left;
  background-color: #c4cbcc;
  -webkit-box-shadow: 10px 10px 5px #494343;
}

.card_spacing{
  width:100%;
  display: flex;
  justify-content: space-around;
}

.opponent_card {
  background-image: url("../../style/img/cardback_placeholder.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80px;
  width: 50px;
  border: 1px solid #92841d;
  float: left;
  color:white;
}

#opponent_round_tokens {
  float: left;
  width: 50%;
  border-style: inset;
  border-width: 3px;
  margin: 0 auto !important;
}

#opponent_score {
  margin: 0 auto;
}

#opponent_hand{
  padding:5px;
}

.activePlayer{
  -webkit-animation-name: indicateTurn;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
}

.selectedOpponent{
  -webkit-animation-name: indicateOpponent;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
}


@-webkit-keyframes indicateTurn {
  from { box-shadow: #749a02; -webkit-box-shadow: 0 0 19px #333; }
  50% { box-shadow: #91bd09; -webkit-box-shadow: 0 0 28px #0bedaf; }
  to { box-shadow: #749a02; -webkit-box-shadow: 0 0 19px #333; }
}

@-webkit-keyframes indicateOpponent {
  from { box-shadow: #749a02; -webkit-box-shadow: 0 0 19px #333; }
  50% { box-shadow: #91bd09; -webkit-box-shadow: 0 0 28px red; }
  to { box-shadow: #749a02; -webkit-box-shadow: 0 0 19px #333; }
}
