#CardContainer {

  background-color: #72dae7;
  width: 150px;
  height: 320px;
  border: 1px solid #021a40;
  padding: 10px;
  display: inline-block;
  text-align: center;
  margin: 10px;
}

#CardBackContainer {
  background-color: #c8c7a1;
  background-color: #72dae7;
  width: 200px;
  height: 320px;
  border: 1px solid #021a40;
  display: inline-block;
  text-align: center;
  margin: 10px;
}

.card_image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  clear: both;
  height: 100px;
  width: 100px;
  border: 1px solid #021a40;
  background-color: #fff;
}

.card_name {
  display: inline-block;
  text-align: center;
  margin-left: 12px;
}

.card_value {
  text-align: center;
  width: 45px;
  height: 45px;
  border: 1px solid #021a40;
  border-radius: 50px;
  display: inline-block;
  line-height: 2.5;
}

.card_action {
  border-style: inset;
}

.action_text {
  margin-top: 10px;
  font-size: 10px;
}

.card {
  transition: all .4s ease-in-out;
}

.card:hover {
  transform: scale(1.5);
}

#discard_top, li {
  font-size: 12px;
}

ul {
  list-style: none;
  text-align: left;
}

.stacked_card {
  z-index: -1;
  position: absolute;
  top: 135px;
  left: 367px;
  background-color: #72dae7;
  width: 200px;
  height: 320px;
  border: 1px solid #021a40;
}
