#CardContainer {
  background-color: #72dae7;
  width: 190px;
  height: 380px;
  border: 1px solid #021a40;
  padding: 10px;
  display: inline-block;
  text-align: center;
  margin: 10px;
}

#CardBackContainer {
  background-color: #72dae7;
  width: 200px;
  height: 320px;
  border: 1px solid #021a40;
  display: inline-block;
  text-align: center;
  margin: 10px;
}

.card_name {
  display: inline-block;
  text-align: center;
  margin-left: 12px;
}

.card_value {
  text-align: center;
  width: 45px;
  height: 45px;
  border: 1px solid #021a40;
  border-radius: 50px;
  display: inline-block;
  line-height: 2.5;
}

.card_action {
  border-style: inset;
}

.action_text {
  margin-top: 10px;
  font-size: 10px;
}

.card {
  transition: all .4s ease-in-out;
}

.card:hover {
  transform: scale(1.5);
}

 .card{
   width:75%;
   z-index: 2;
 }

 .image{
   margin:0 auto;
 }
 .card-image{
   margin-bottom: 10px;
 }


 /* --- Discard / Cheat Card  ----*/

 .cheatCard-container {
   cursor: pointer;
   height: 435px;
   perspective: 600;
   position: relative;
 }

 .cheatCard {
    background: #72dae7;
   margin: 0 auto;
   height: 95%;
   transform-style: preserve-3d;
   transition: all 1s ease-in-out;
   width: 75%;
 }

 .cheatCard:hover {
   transform: rotateY(180deg);
 }

 .cheatCard .cheatSide {
   background: #72dae7;
   backface-visibility: hidden;
   border-radius: 6px;
   height: 100%;
   position: absolute;
   overflow: hidden;
   width: 100%;
 }

 .cheatCard .back {
   /*background-image: url("../../style/img/cardfront_placeholder2.jpg");*/
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   transform: rotateY(180deg);
 }


 .cheatFrontSide {
   text-align: center;
   /*background-image: url("../../style/img/cardback_placeholder.jpg");
   height: 100%;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;*/
  background-color: #72dae7;
 }

 .cheatCard li, .cheatCard p {
   font-size: 16px;
 }

 .cheatCard ul {
   list-style: none;
   text-align: left;
 }
