#signup_body{
  width:100%;
  margin: 0 auto;
  text-align: center;
}

svg{
  display:none;
}

#signup_head{
  color:white;
  background-color: rgb(0,188,212);
  font-family: sans-serif;
  padding: 10px;
  border-radius: 5px;
}
