.messages{
  width:100%;
  height:300px;
  overflow-y: auto;
  background-color: #d9ebe9;
}

.chat_container{
  margin-right:10%;
  height: 75%;
  width: 100%;
}

.chat-title, .card-footer{
  text-align: center;
}
