
#chat-box{
  z-index: 4;
  position:fixed;
  top:10%;
  left:67%;
  border: 1px solid;
  border-radius: 10px;
  padding: 10px;
  background-color: #d9ebe9;
  width:25%;
}

.ingame_messages{
  width:100%;
  height:200px;
  padding:20px;
  overflow-y: auto;
  text-align: left;
  background-color: #fff;
  margin-bottom: 10px;
}

.form-control{
  width:100%;
}

#send_chat_btn{
  margin-top: 5px;

}
