.menu {
  display:block;
width:250px;
}



  .menu div {
    position:absolute;
    z-index:2;
    top:0;
    width:250px;
    height:100%;
  /*  .transition(-webkit-transform ease 250ms);
    .transition(transform ease 250ms);*/
  }

    .left {
      background:#273D7A;
      left:-250px;
    }

    .visible.left {
      left:250px;
    }

    .right {
      background:#6B1919;
      right:250px;
    }

    .visible.right {
      /*.transform(translate3d(@menu-width*-1, 0, 0));*/
    }

    .menu-item {
      float:left;
      width:100%;
      margin:0;
      padding:10px 15px;
      border-bottom:solid 1px #555;
      cursor:pointer;
      color:#B0B0B0;
    }

      .menu-item:hover {
        color:#F0F0F0;
      }
