.body-image {
  background-image: url("../../style/img/table1 (2).png");
  background-image: url("../../style/img/tableA.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 100%;
}

#game_box {
  padding: 25px;
}

#card_view {
  text-align: center;
  clear: both;
  margin-bottom: 20px;
}

/*==== User Side ===*/


#player_cards {
  display: flex;
  justify-content: center;
}

.no-point, .round-won {
  color: red;
}

/* style for start game button */

.startGameBox {
  border: double 5px #97881b;
  background-color: #dddcdc;
  padding: 4em 2em;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  text-align: center;
}

.gameStartMargin{
  margin-bottom: 15px;
}

#innerStartBox {
  background-image: -webkit-linear-gradient(left, #fade7c 10%, #faebc9 80%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-animation: stripes 3s ease-in-out infinite;
  animation: stripes 3s ease-in-out infinite;
}

.darkenBox {
  background-color: #000;
  opacity: .5;
  width: 3000px;
  height: 3000px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 500;
}

.wait_message {
  margin-bottom: 15px;
  font-size: 18px;
}

/*-----------------------*/

#user-buttons {
  float: left;
  text-align: center;
}

#startNewGameBtn {
  margin-bottom: 15px;
}

/*---- new ----*/

#top_buttons, #bottom_buttons {
  text-align: center;
}

#top_buttons{
  margin-bottom: 15px;
}

#bottom_fix {
  margin: 15px;
}

/*---- Game Log Positioning ----*/
#log_title{
  text-align: center;
  font-size: 24px;
  margin-top: 15px;
}
#game_log {
  height: 440px;
  overflow-y: auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  border: 2px solid #990;
  background: white;
  text-align: left;
  opacity: .75;
  margin-top: 40px;
  padding: 1em 2em;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#gamelog_body{
  color:#b20ebc;
  font-size: 16px;
  font-weight: 600;
}

.card_view_titles {
  text-shadow: 1px 1px 1px #97881b;
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
  font-weight: 600;
}

.smaller_text {
  text-shadow: 1px 1px 1px #97881b;
  font-size: 18px;
  margin-top: 10px;
  font-weight: 600;
}


.shielded {
  width: 100%;
  /*Make sure the animation is over the whole element*/
  background-color: #e5ce2a !important;
  -webkit-animation-name: ShineAnimation;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: cubic-bezier(.12, .89, .98, .47);
}

@-webkit-keyframes ShineAnimation {
  from {
    background-repeat: no-repeat;
    background-image: -webkit-linear-gradient( top left, rgba(255, 255, 255, 0.0) 0%, rgba(255, 255, 255, 0.0) 45%, rgba(255, 255, 255, 0.5) 48%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0.5) 52%, rgba(255, 255, 255, 0.0) 57%, rgba(255, 255, 255, 0.0) 100%);
    background-position: -250px -250px;
    background-size: 600px 600px
  }
  to {
    background-repeat: no-repeat;
  }
}
