body{
    background-color: #fff;
}

#game_box{
  background-image: url("../../style/img/table1 (2).png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 100%;
}


#card_view{
  text-align: center;
}

.opponent-side{
  margin-left: 25px;
}

footer{
position:absolute;
left:0;
bottom:0;
right:0;
}

#show_hud_area{
  width:100%;
}

.hud {
  width: 100%;
  padding-right:25px;
  padding-top: 5px;
  bottom: 10px;
  display:block;
}

/*==== User Side ===*/

#player_name{
  margin:0 auto;
}

.player-side {
  height:100%;
  width:33%;
  float: right;
  margin-right: 25px;
  background-color: #72dae7;
  -webkit-box-shadow: 10px 10px 5px #494343
}


.no-point, .round-won {
  color: red;
}

.table-button {
  font-size: 50px;
}

#user-buttons{

}
