.body-image {
  background-image: url("../../style/img/table1 (2).png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 100%;
}
#game_box{
  padding:25px;
}

#card_view {
  text-align: center;
  clear: both;
  margin-bottom: 10px;
}

/*==== User Side ===*/

#player_name {
  margin: 0 auto;
}

.no-point, .round-won {
  color: red;
}

.table-button {
  font-size: 50px;
}


/*==== User Side ===*/

#player_name {
  margin: 0 auto;
}

#user_round_tokens {
  padding: 7px;
  width: 210px;
  border-style: outset;
  border-width: 3px;
  margin-left: 50px;
}

#round_score {
  float: left;
  margin: 0 auto;
}

.no-point, .round-won {
  color: red;
}

/* style for start game button */

.startGameBox {
  border: 1px solid red;
  background-color: #ffffff;
  padding: 4em 2em;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  text-align: center;
}

#innerStartBox{  background-image: -webkit-linear-gradient(left, #fade7c 10%, #faebc9 80%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-animation: stripes 3s ease-in-out infinite;
  animation: stripes 3s ease-in-out infinite;}

.darkenBox {
  background-color: #000;
  opacity: .5;
  width: 3000px;
  height: 3000px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 500;
}

.wait_message{
  margin-bottom: 15px;
  font-size: 18px;
}

/*-----------------------*/

#user-buttons {
  /*width: 33.333%;*/
  float: left;
  text-align: center;
}

#startNewGameBtn{
  margin-bottom: 15px;
}

#game_buttons{
  list-style: none;
}
