
#login_body {
  width: 100%;
  position: absolute;
  text-align: center;
  margin: auto;
}

svg {
  display: none;
}

#login_head {
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
  color: white;
  background-color: #3c5b75;
  padding:10px;
}
